# Dart related
.dart_tool/
.packages
.pub/
.pub-cache/
build/
flutter_*.png

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter-plugins
.melos_tool/

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/.generated/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/.idea/
android/.settings/
android/.classpath
.gradle/

# Web
web/.dart_tool/
web/build/

# macOS
macos/Pods/
macos/Flutter/ephemeral/
macos/Runner.xcworkspace/

# Linux
linux/Flutter/ephemeral/

# Windows
windows/Flutter/ephemeral/
windows/.vs/

# Node and JS
node_modules/
package-lock.json
package.json

# Others
.DS_Store
*.lock
*.log
*.class
*.swp
*.pyc
